#author {
    display: block;
    padding-bottom: 60px;
}

#author .text-cont h2 {
    font-size: 32px;
    font-weight: 900;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    padding: 55px 0 30px;
}

#author .text-cont h3 {
    font-size: 16px;
    padding-top: 10px;
}

#author .text-cont p {
    font-family: "Muli", sans-serif;
    padding-right: 59px;
    line-height: 30px;
}

#author .text-cont .img-cont {
    position: relative;
}

#author .text-cont .img-cont::after {
    content: '';
    background: url('../img/author-before.png');
    position: absolute;
    width: 87px;
    height: 87px;
    bottom: -42px;
    left: 0;
}

.text-cont.author-cont {
    display: block;
    margin-top: -270px;
}

#author .text-cont.author-cont h2 {
    padding: 55px 0 58px;
}

@media only screen and (max-width:991px) {
    #author {
        margin-top: 0;
    }

    .text-cont.author-cont {
        margin-top: 40px;
    }

    #author .text-cont .img-cont {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }

    #author .text-cont .img-cont::after {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #author .text-cont h2 {
        text-align: center;
    }

    #author .text-cont p {
        padding-right: 0;
    }
}

@media only screen and (max-width:575px) {
    #author .text-cont .img-cont::after {
        width: 55px;
        height: 55px;
        background-size: contain;
        bottom: -30px;
    }

    #author .text-cont h2 {
        font-size: 7.2vw;
    }

    #author .text-cont h2 span {
        padding-right: 5px;
    }
    #author .text-cont h2 span img {
        width: 55px;
        margin-top: -5px;
    }
    #author .text-cont h2 {
        padding: 0 0 30px;
    }
    #author .text-cont.author-cont h2 {
        padding: 55px 0 30px;
    }
}